@import './logo.css';
@import './list.css';
@import './menu.css';

.sidebar {
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background: var(--gray60);
}